name: Runtime Security Test (ZAP)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Start app (Docker Compose)
        run: |
          docker compose up -d
          docker ps
      - name: ZAP Baseline Scan (EC2)
        uses: zaproxy/action-baseline@v0.12.0
        with:
         target: 'http://47.129.223.141:8080'
         rules_file_name: '.zap/rules.tsv'   # optional (only if you have it)
         cmd_options: '-a'


      

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:8080"
          fail_action: false

      - name: Upload ZAP report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: |
            report_html.html
            report_md.md
            report_json.json
