name: Runtime Security Test (ZAP)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  issues: write

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Verify EC2 reachable
        run: |
          curl -I http://47.129.223.141:8080 || true
          curl -I http://47.129.223.141:8080/api/hello || true

      - name: ZAP Baseline Scan (EC2)
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://47.129.223.141:8080/api/hello"   # CHANGE to your 200 OK endpoint
          cmd_options: "-a"
          fail_action: false

      - name: Upload ZAP report
        if: always()
        uses: actions/upload-artifact@v4
        with:
         name: zap-scan
         path: |
          report_html.html
          report_md.md
          report_json.json

