name: Snyk Security

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  snyk:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Snyk token exists
        run: |
          if [ -z "$SNYK_TOKEN" ]; then
            echo "SNYK_TOKEN is NOT set"
            exit 1
          else
            echo "SNYK_TOKEN is set correctly"
          fi

      - name: Set up Snyk CLI
        uses: snyk/actions/setup@master
        with:
          snyk-version: latest

      - name: Snyk Code test (SAST)
        run: snyk code test --sarif > snyk-code.sarif

      - name: Upload Snyk SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif
